﻿<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="content" role="main">
  <div class="w-100 mb-4">
    <mat-button-toggle-group [value]="listType" (change)="changeList($event)">
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle value="paginated">Paginated</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-card>
    <div [ngSwitch]="listType">
      <div class="card-container" *ngSwitchCase="'all'">
        <ng-container *ngFor="let club of clubs">
          <app-clubcard
            [club]="club"
            [user]="user"
            (putSubscribeUser)="putSubscribeUser($event)"
            (putUnsubscribeUser)="putUnsubscribeUser($event)"
          ></app-clubcard>
        </ng-container>
      </div>

      <ng-container *ngSwitchCase="'paginated'">
        <div class="card-container">
          <ng-container *ngFor="let club of clubs">
            <app-clubcard
              [club]="club"
              [user]="user"
              (putSubscribeUser)="putSubscribeUser($event)"
              (putUnsubscribeUser)="putUnsubscribeUser($event)"
            ></app-clubcard>
          </ng-container>
        </div>
        <br />
        <div class="text_line">
          <button
            mat-button
            (click)="changePage('minus')"
            [disabled]="currentPage <= 1"
          >
            Previous
          </button>
          Page {{ currentPage }}/{{ totalPages }}
          <button
            mat-button
            (click)="changePage('plus')"
            [disabled]="currentPage >= totalPages"
          >
            Next
          </button>
        </div>
      </ng-container>
    </div>
  </mat-card>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
