﻿<mat-card>
  <h2>Login</h2>
  <mat-divider></mat-divider><br />
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!--  Username  -->
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="f.username.errors">Username is required</mat-error>
      </mat-form-field>

      <!-- Password  -->
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="f.password.errors">Password is required</mat-error>
      </mat-form-field>

      <div class="form-group">
        <button
          mat-flat-button
          color="primary"
          [disabled]="f.username.errors || f.password.errors"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Login
        </button>
        <a routerLink="../register" class="btn btn-link">Register</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
