﻿<mat-card>
  <h2>Register</h2>
  <mat-divider></mat-divider><br />
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!--  First Name  -->
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngIf="f.firstName.errors">First Name is required</mat-error>
      </mat-form-field>

      <!--  Last Name  -->
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="f.username.errors">Last Name is required</mat-error>
      </mat-form-field>

      <!--  Username  -->
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="f.username.errors">Username is required</mat-error>
      </mat-form-field>

      <!--  Password  -->
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="f.username.errors"
          >Password must be at least 6 characters</mat-error
        >
      </mat-form-field>

      <div class="form-group">
        <button
          mat-flat-button
          color="primary"
          [disabled]="
            f.firstName.errors ||
            f.lastName.errors ||
            f.username.errors ||
            f.password.errors
          "
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
