<mat-toolbar color="primary">
  <div>
    <img src="../../assets//img/odilo_logo.svg" width="100px" />
    &nbsp;<span> Book Store Test</span>
  </div>
  <div class="spacer"></div>
  <button mat-button [matMenuTriggerFor]="menu">{{ user.username }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
