<div id="dialog">
  <h2 mat-dialog-title>Confirmation</h2>
  <mat-dialog-content class="mat-typography">
    <h3>
      {{
        data.subscribe
          ? "Do you want to follow " + data.club.name
          : "You are about to unfollow " +
            data.club.name +
            ", Are you sure you want to continue?"
      }}
    </h3>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Accept
    </button>
  </mat-dialog-actions>
</div>
