<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title
      ><div class="text_line">
        <mat-icon
          matTooltip="You follow this club"
          matTooltipPosition="above"
          *ngIf="club.userId.includes(user._id)"
          >check_box</mat-icon
        >{{ club.name }}
      </div>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="club.image" />
  <mat-card-content>
    <p>
      {{ club.text }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      [color]="club.userId.includes(user._id) ? 'warn' : 'primary'"
      (click)="openDialog(!club.userId.includes(user._id), club)"
    >
      {{ club.userId.includes(user._id) ? "Unfollow" : "Follow" }}
    </button>
  </mat-card-actions>
</mat-card>
